* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

hr {
  height: 2px;
  width: 90%;
  background-color: lightgray;
}

.container {
  height: 400px;
  width: 500px;
  border: 1px gray solid;
  background-color: azure;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

label {
  margin: 0;
  margin-left: 25px;
  font-size: 18px;
  display: block;
}

#bill {
  margin-top: 15px;
}

.fa {
  margin-left: 25px;
  margin-bottom: 25px;
  border: 1px gray solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 7px 10px;
  margin-right: 0px;
}

input {
  width: 418px;
  height: 30px;
  border: 1px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0px;
}
select {
  margin-left: 25px;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

#calc {
  position: absolute;
  left: 220px;
  top: 340px;
  height: 35px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
}

#tip-amount {
  height: 60px;
  width: 300px;
  background-color: rgb(1, 156, 1);
  position: absolute;
  top: 500px;
  left: 22%;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}
